.calculator {
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
  box-shadow: 0 .188rem .375rem 0 #00000026, 0 .125rem .25rem 0 #0000001F;
  margin-inline-start: auto;
  margin-inline-end: auto;
  overflow: hidden;
  &--output {
    background: #424C52;
    color: #FFF;
    font-size: 2rem;
    padding-block-start: .5rem;
    padding-block-end: .5rem;
    padding-inline-end: .75rem;
    text-align: end;
  }
  &--keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: .063rem;
    background: #899DAE;
  }
  &--key {
    display: grid;
    color: #000; // overide index.css.min #fff color
    background: #F0F2F5;
    border: none;
    padding-block-start: 1rem;
    padding-block-end: 1rem;
    padding-inline-end: 1.25rem;
    padding-inline-start: 1.25rem;
    font-size: 1.5rem;
  }
  &--key:active,
  &--key:focus,
  &--key:hover {
    box-shadow: 0 0 .5rem 0 #0000004D inset;
    outline: none;
  }
  &--key--operator {
    background: #D2DCE4;
  }
  &--key--operator:active {
    background: #C0CDD8;
  }
  &--key--enter {
    grid-column: 4/ 5;
    grid-row: 2 / span 3;
    background: #FF7077;
  }
}
