@font-face {
  font-family: Ubuntu;
  src: url('../assets/fonts/Ubuntu-Regular.ttf');
}
* {
  font-family: Ubuntu, sans-serif;
  color: white;
}
html,
body {
  min-height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  max-width: 100%;
  a {
    text-decoration: none;
  }
}
body {
  background-color: #210101;
  background-image: url('../assets/img/background_dark.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-clip: initial;
  background-size: cover;
  .nav {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .25rem .5rem;
    &--app-title {
      flex: 1;
    }
    &--date {
      flex: 2;
      text-align: center;
    }
    &--infos {
      list-style: none;
      padding: 0;
      display: flex;
      gap: .75rem;
      margin: .5rem 0;
      flex: 1;
      justify-content: flex-end;
      &--vibration {
        .mySVG {
          background-image: url('../assets/icons/vibration.svg');
        }
      }
      #battery-span,
      #speed-test {
        padding-left: .25rem;
      }
      &--speed {
        #speed-test {
          min-width: 102px;
          display: inline-block;
          text-align: right;
        }
      }
    }
  }
  .desktop {
    padding: 1.5rem;
    &--app-list {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      &--icon {
        display: flex;
        text-align: center;
        flex-direction: column;
      }
    }
  }
  #context-menu {
    position: fixed;
    z-index: 10000;
    width: 150px;
    background-color: #1B1A1A;
    border-radius: 5px;
    transform: scale(0);
    transform-origin: top left;
    .item {
      padding: 8px 10px;
      font-size: 15px;
      cursor: pointer;
      border-radius: inherit;
      color: white;
      &:hover {
        background-color: #343434;
      }
    }
    &.visible {
      transform: scale(1);
      transition: transform 200ms ease-in-out;
    }
  }

  /* The Modal (background) */
  .modal {
    $radius: .5rem;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0 0 0); /* Fallback color */
    background-color: rgb(0 0 0 / .4); /* Black w/ opacity */

    /* Modal Content */
    &-content {
      position: relative;
      background-color: #1B1A1A;
      margin: auto;
      padding: 0;
      border: 1px solid #888;
      width: 50%;
      box-shadow:
        0 4px 8px 0 rgb(0 0 0 / .2),
        0 6px 20px 0 rgb(0 0 0 / .19);
      animation-name: animatetop;
      animation-duration: .4s;
      border-top-left-radius: $radius;
      border-top-right-radius: $radius;
    }

    /* Add Animation */
    @keyframes animatetop {
      from {
        top: -300px;
        opacity: 0;
      }
      to {
        top: 0;
        opacity: 1;
      }
    }
    &-header {
      padding: 2px 16px;
      background-color: #000;
      color: white;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      border-top-left-radius: $radius;
      border-top-right-radius: $radius;

      /* The Close Button */
      .close {
        color: white;
        font-size: 20px;
        width: 1.5rem;
        background-color: #950101;
        text-align: center;
        border-radius: 50%;
        &:hover,
        &:focus {
          background-color: #F00;
          text-decoration: none;
          cursor: pointer;
        }
      }
      h2 {
        margin: .5rem auto;
        margin-left: calc(50% - 32px);
        transform: translateX(-50%);
      }
    }
    &-body {
      padding: 2px 16px 16px;
      form {
        input {
          &[type='text'] {
            background-color: #000;
            color: white;
            width: 100%;
            padding: 12px 20px;
            display: inline-block;
            border: 1px solid #CCC;
            border-radius: 4px;
            box-sizing: border-box;
          }
          &[type='submit'] {
            display: none;
          }
        }
      }
    }
  }
  .tooltip {
    position: relative;
    display: inline-block;
    &--text {
      visibility: hidden;
      width: 120px;
      background-color: #1B1A1A;
      color: #FFF;
      text-align: center;
      border-radius: 6px;
      padding: 5px 0;
      position: absolute;
      z-index: 1;
      top: 150%;
      left: 50%;
      margin-left: -60px;

      /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
      opacity: 0;
      transition: ease-in-out .2s;
      &:after {
        content: '';
        position: absolute;
        bottom: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent #1B1A1A;
      }
    }
    &:hover {
      .tooltip--text {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}

/* GAME  */
input {
  color: #000;
}

#game {
  visibility: visible;
  background-color: gray;
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
}

#tictactoe_section_form {
  visibility: visible;
  text-align: center;
  position: absolute;
  top: 5%;
  left: 20%;
  width: auto;
  height: auto;

}

#gameAndScore{
  display: flex;
  flex-direction: row;
}

#plateau {
  display: flex;
  flex-direction: column;
  margin: 10%;
  visibility: hidden;
  text-align: center;
  width: auto;
  height: auto;
}

#scoreBoard{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  margin: 10%;
  width: auto;
  height: auto;
}

#closeGame {
  float: right;
  border: 1px solid black;
  background-color: red;

}

#nextGame{
  visibility: hidden;
}

table {
  border-collapse: collapse;
  font-weight: bold;
}

table td {
  border: 10px solid black;
  width: 8rem;
  height: 8rem;
  text-align: center;
  font-size: 6rem;
  font-family: sans;
  background-color: #eee;
  cursor: pointer;
  color: #000;
}

table td.O,
table td.X {
  cursor: default;
}