$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

@font-face {
  font-family: Ubuntu;
  src: url('../assets/fonts/Ubuntu-Regular.ttf');
}
* {
  font-family: Ubuntu, sans-serif;
  color: white;
}
input {
  background-color: #000;
  color: white;
  display: inline-block;
  border: 1px solid #CCC;
  border-radius: 4px;
  box-sizing: border-box;
}
select {
  background-color: #000;
  color: white;
  display: inline-block;
  border: 1px solid #CCC;
  border-radius: 4px;
  box-sizing: border-box;
}
html,
body {
  min-height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  max-width: 100%;
  a {
    text-decoration: none;
  }
}
body {
  background-color: #210101;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-clip: initial;
  background-size: cover;
  @media (min-width: $sm) {
    background-image: url('../assets/img/background_dark.png');
  }
  .lock-screen {
    $radius: .5rem;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    backdrop-filter: blur(5px); /* Blur the background */
    animation: blur .4s;
    @keyframes blur {
      from {
        backdrop-filter: blur(0);
      }
      to {
        backdrop-filter: blur(5px);
      }
    }

    /* Modal Content */
    &--content {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      top: 50%;
      transform: translate(0, -50%);
      margin: auto;
      padding: 3rem;
      width: 95%;
      background-color: #210101;
      border: 1px solid #888;
      gap: .5rem;
      box-shadow:
        0 4px 8px 0 rgb(0 0 0 / .2),
        0 6px 20px 0 rgb(0 0 0 / .19);
      border-radius: $radius;
      animation: scale .2s ease-out;
      @keyframes scale {
        from {
          transform: translate(0, -50%) scale(0);
        }
        to {
          transform: translate(0, -50%) scale(1);
        }
      }
      &--name {
        h1 {
          font-size: 2rem;
        }
      }
      &--img {
        display: flex;
        img {
          width: 100%;
          max-width: 30%;
          border-radius: 50%;
          margin: 0 auto;
        }
      }
      &--login {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 10rem;
        padding: .5rem;
        border-radius: $radius;
        border: 1px solid #CCC;
        cursor: pointer;
        transition: all .2s ease-in-out;
        background-color: #000;
        color: #CCC;
        &:hover {
          background-color: #CCC;
          color: #000;
        }
      }
      @media (min-width: $md) {
        width: 50%;
      }
    }
  }
  .nav {
    background-color: black;
    align-items: center;
    padding: .25rem .5rem;
    @media (min-width: $sm) {
      display: flex;
      justify-content: space-between;
    }
    &--app-title {
      display: none;
      @media (min-width: $md) {
        flex: 1;
        display: block;
      }
    }
    &--date {
      display: none;
      @media (min-width: $sm) {
        flex: 1;
        display: block;
        p {
          text-align: center;
          margin: 0;
        }
      }
      &--mobile {
        display: block;
        margin-bottom: 2rem;
        @media (min-width: $sm) {
          display: none;
        }
        &--wrapper {
          display: flex;
          .left,
          .right {
            flex: 1;
            padding: 1rem;
          }
          .left {
            text-align: right;
            border-right: 1px solid white;
            font-size: 1.5rem;
          }
          .right {
            display: flex;
            align-items: center;
            font-size: 1.25rem;
          }
        }
      }
    }
    &--infos {
      list-style: none;
      padding: 0;
      display: flex;
      justify-content: space-between;
      margin: .5rem 0;
      @media (min-width: $sm) {
        gap: .75rem;
        flex: 1;
        justify-content: end;
      }
      &--vibration {
        .mySVG {
          background-image: url('../assets/icons/vibration.svg');
        }
      }
      &--battery {
        white-space: nowrap;
      }
      #battery-span,
      #speed-test {
        padding-left: .25rem;
      }
      &--speed {
        white-space: nowrap;
        #speed-test {
          min-width: 102px;
          display: inline-block;
          text-align: right;
        }
      }
    }
  }
  .desktop {
    padding: .5rem;
    @media screen and (min-width: $sm) {
      padding: 1.5rem;
    }
    &--app-list {
      display: flex;
      align-items: flex-start;
      flex-flow: column wrap;
      max-height: calc(100vh - 10rem);
      &--icon {
        display: flex;
        text-align: center;
        flex-direction: column;
        width: 100%;
        height: auto;
        max-width: 7.5rem;
        cursor: pointer;
        .icon-application {
          max-width: 4rem;
        }
      }
    }
  }
  #context-menu {
    position: fixed;
    z-index: 10000;
    width: 150px;
    background-color: #1B1A1A;
    border-radius: 5px;
    transform: scale(0);
    transform-origin: top left;
    .item {
      padding: 8px 10px;
      font-size: 15px;
      cursor: pointer;
      border-radius: inherit;
      color: white;
      &:hover {
        background-color: #343434;
      }
    }
    &.visible {
      transform: scale(1);
      transition: transform 200ms ease-in-out;
    }
  }

  /* The Modal (background) */
  .modal {
    $radius: .5rem;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0 0 0 / .4); /* Black w/ opacity */

    /* Modal Content */
    &-content {
      position: relative;
      background-color: #1B1A1A;
      margin: auto;
      padding: 0;
      border: 1px solid #888;
      width: 95%;
      box-shadow:
        0 4px 8px 0 rgb(0 0 0 / .2),
        0 6px 20px 0 rgb(0 0 0 / .19);
      animation-name: animatetop;
      animation-duration: .4s;
      border-top-left-radius: $radius;
      border-top-right-radius: $radius;
      @media (min-width: $md) {
        width: 50%;
      }
    }

    /* Add Animation */
    @keyframes animatetop {
      from {
        top: -300px;
        opacity: 0;
      }
      to {
        top: 0;
        opacity: 1;
      }
    }
    &-header {
      padding: 2px 16px;
      background-color: #000;
      color: white;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      border-top-left-radius: $radius;
      border-top-right-radius: $radius;

      /* The Close Button */
      .close {
        color: white;
        font-size: 20px;
        width: 1.5rem;
        background-color: #950101;
        text-align: center;
        border-radius: 50%;
        &:hover,
        &:focus {
          background-color: #F00;
          text-decoration: none;
          cursor: pointer;
        }
      }
      h2 {
        margin: .5rem auto;
        margin-left: calc(50% - 32px);
        transform: translateX(-50%);
      }
    }
    &-body {
      padding: 2px 16px 16px;
      form {
        input {
          &[type='text'] {
            width: 100%;
            padding: 12px 20px;
          }
          &[type='submit'] {
            display: none;
          }
        }
      }
    }
  }
  .modal--settings-application,
  .modal--time-application {
    .modal-content {
      .modal-body {
        padding: 0;
        display: flex;
        gap: 1rem;
        .sidebar {
          background-color: black;
          z-index: 1;
          overflow: auto;
          flex: 1;
          .bar-item {
            width: 100%;
            display: block;
            padding: 8px 16px;
            text-align: left;
            border: none;
            white-space: normal;
            float: none;
            outline: 0;
          }
          .button {
            display: inline-block;
            padding: 8px 16px;
            vertical-align: middle;
            overflow: hidden;
            text-decoration: none;
            color: inherit;
            cursor: pointer;
            white-space: nowrap;
            background-color: black;
            &:hover {
              background-color: #1B1A1A;
            }
          }
          .red {
            background-color: #210101;
          }
        }
        .tab-content {
          flex: 2;
          .date-wrapper {
            border: 2px solid #841326;
            padding: .5rem;
            margin: 1.5rem 1rem 1.5rem 0;
            .date {
              font-size: 1.5rem;
              text-decoration: underline;
              margin: 1rem 0 0;
            }
            .time {
              font-size: 1.25rem;
            }
          }
          .button-stylised {
            padding: 8px 16px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            transition-duration: .4s;
            cursor: pointer;
            background-color: transparent;
            color: white;
            border: 2px solid #841326;
            &:hover {
              background-color: #841326;
              color: white;
            }
          }
          #stopwatch {
            text-align: center;
            h2,
            ul li {
              text-align: left;
            }
            p {
              font-size: 2rem;
            }
          }
          #timer {
            .timer-wrapper {
              form {
                display: flex;
                justify-content: space-around;
                .input-wrapper {
                  display: flex;
                  flex-direction: column;
                  justify-content: space-between;
                  align-items: center;
                  margin: 1rem 0;
                  label {
                    margin-bottom: .5rem;
                  }
                  .btn-plus,
                  .btn-minus {
                    width: 2rem;
                    height: 2rem;
                    border: 2px solid #841326;
                    border-radius: 50%;
                    background-color: transparent;
                    color: white;
                    font-size: 1rem;
                    cursor: pointer;
                    &:hover {
                      background-color: #841326;
                    }
                  }
                  input {
                    width: 100%;
                    padding: 12px 0;
                    margin: 8px 0;
                    text-align: center;
                    box-sizing: border-box;
                    border: none;
                    border-bottom: 2px solid #841326;
                    &:focus {
                      outline: none;
                    }
                  }
                  input[type='number'] {
                    width: 3.25rem;
                    margin-bottom: .5rem;
                    appearance: textfield;
                  }
                  input[type='number']::-webkit-inner-spin-button,
                  input[type='number']::-webkit-outer-spin-button {
                    appearance: none;
                  }
                }
              }
            }
          }
          .switch {
            position: relative;
            display: inline-block;
            height: 17px;
            input {
              opacity: 0;
              width: 0;
              height: 0;
              &:checked {
                & + .slider {
                  background-color: #2196F3;
                  &:before {
                    transform: translateX(13px);
                  }
                }
              }
              &:focus {
                & + .slider {
                  box-shadow: 0 0 1px #2196F3;
                }
              }
            }
            .slider {
              position: absolute;
              cursor: pointer;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              background-color: #CCC;
              transition: .4s;
              width: 30px;
              z-index: 999;
              &.round {
                border-radius: 34px;
                &:before {
                  border-radius: 50%;
                }
              }
              &:before {
                position: absolute;
                content: '';
                height: 13px;
                width: 13px;
                left: 2px;
                bottom: 2px;
                background-color: white;
                transition: .4s;
              }
            }
            .description {
              padding-left: 2rem;
            }
          }
        }
      }
    }
  }
  .tooltip {
    position: relative;
    display: inline-block;
    &--text {
      visibility: hidden;
      width: 120px;
      background-color: #1B1A1A;
      color: #FFF;
      text-align: center;
      border-radius: 6px;
      padding: 5px 0;
      position: absolute;
      z-index: 1;
      top: 150%;
      left: 50%;
      margin-left: -60px;

      /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
      opacity: 0;
      transition: ease-in-out .2s;
      &:after {
        content: '';
        position: absolute;
        bottom: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent #1B1A1A;
      }
    }
    &:hover {
      .tooltip--text {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}

/* TIC TAC TOE GAME  */
#gameContainer {
  padding: 1.5rem 0;
  display: flex;
  background-color: gray;
  flex-direction: column;
  gap: .5rem;
  @media (min-width: $md) {
    flex-direction: row;
  }
}
#leftSide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 6;
}
#rightSide {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 4;
}
#infoBlock {
  margin-bottom: 50%;
  display: none;
}
#btnBlock {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 10px;
}
#resetGame {
  color: black;
  margin-bottom: 10px;
}
#startGame {
  align-self: center;
}
#closeGame {
  float: right;
  border: 1px solid black;
  background-color: red;
}
#error {
  align-self: center;
}
#center {
  align-self: center;
}
#gameBoard {
  display: none;
}
#playerForm {
  display: flex;
  flex-direction: column;
}
#playerFormInput {
  display: flex;
  flex-flow: row wrap;
}
#playerInput {
  display: flex;
  flex-direction: column;
}
#nextGame {
  color: black;
  margin-bottom: 10px;
  display: none;
}
table {
  border-collapse: collapse;
}
table td {
  border: 10px solid black;
  width: 8rem;
  height: 8rem;
  text-align: center;
  font-size: 6rem;
  background-color: #EEE;
  cursor: pointer;
  color: #000;
}
table td.notClicked {
  cursor: pointer;
}
table td.clicked {
  cursor: not-allowed;
}
